# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
!gradle-wrapper.properties

# Kotlin
*.class
.kotlin/

# IDE (IntelliJ / Android Studio)
.idea/
*.iml
*.ipr
*.iws
out/

# Compose Desktop сборки
compose/binaries/

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Локальные конфиги, которые не должны попадать в репо
local.properties
.env

# Временные файлы от наших скриптов генерации иконок
icons_all/
_iconset_tmp/